* {
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1567647753830-de3fe7ce9f28?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80") no-repeat top;
  background-size: cover;
  position: relative;
  display: block;
  padding: 0 10vw 0 10vw;
}

figure {
  display: block;
  padding: 1rem;
}

.profile-pic {
  display: block;
  width: 25vw;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0, .5);
  margin: 1rem auto;
  filter: sepia(0%);
}

.profile-pic:hover {
  padding: 0.8rem;
  border: 1px dashed rgba(132,132,132, 1);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: sepia(40%);
}

figure:hover, .content:hover, .contact:hover, .quote:hover {
  background-color: rgba(255,255,255,.9);
  box-shadow: 0px 0px 5px 5px lightgrey; 
  transition: all 0.2s ease-in-out;
}

figure, .content, .contact, .quote {
  background-color: rgba(255,255,255,.75);
  padding: 3vh 5vw;
  border-radius: 5px;
  display: block;
  margin: 1rem;
  max-width: 400px;
  right: 0;
  left: 0;
}

.headline h1, .headline h2 {
  text-align: center;
  font-family: Hind, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem auto;
  letter-spacing: 0.03rem;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.headline h2 {
  font-size: 1rem;
}

/* ===== DESCRIPTION SECTION ===== */

hr {
  margin: 5vh 25%;
  border: 1px solid black;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
}

/* ===== CONTACT SECTION ===== */

.contact {
   line-height: 1.5;
   font-family: "Open Sans", Arial, sans-serif;
   font-size: 1rem;
   font-weight: 700;
   text-align: center;
   padding-bottom: 1rem;
}

.links a {
  display: inline-block;
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
  color: rgba(0,0,0,.7);
}

#facebook:hover, #linkedin:hover, #youtube:hover, #mail:hover {
  transition: all 0.25s ease-in-out;
}

#facebook:hover {color: #3b5998;}
#linkedin:hover {color: #0077B5;}
#youtube:hover {color: #FF0000;}
#mail:hover {color: #FBBC05;}

/* ===== QUOTE SECTION ===== */

.quote p {
   line-height: 1.5;
   font-family: "Open Sans", Arial, sans-serif;
   font-size: 0.8rem;
   text-align: center;
}

@media (min-width: 1050px) {
 
  figure, .content, .contact, .quote {
    display: block;
    float: left;
  
  }
  
.profile-pic {
   max-width: 250px;
  }
 
}